/* Header centering */
.homehead {text-align: center;}

/* Header styling */
.homehead h1{font-family: 'Courier New', monospace; font-size: 60px; text-decoration: underline; text-align: center;}

/* Styling for homepage's subtitle */
.homehead h2{font-family: 'Courier New', monospace; text-align: center;}

/* Generic centering */
.direct {text-align: center; padding: 5px;}

/* Background image */
body {background-image: url("img.jpeg"); background-repeat: no-repeat; background-size: cover;}

/* Boxes around elements, with transparency */
.element {margin-left: auto; margin-right: auto; border-radius: 25px; padding:20px; width:500px; position:relative; background: rgb(204, 204, 204); background: rgba(204, 204, 204, 0.85); }

/* Styling for the homepage's links */
.links {margin-left: auto; margin-right: auto; border-radius: 15px; padding:10px; width:100px; position:relative; background: rgb(204, 204, 204); background: rgba(204, 204, 204, 0.9); }

.legal {margin-top: auto; background-color: white; width: 100%; padding: 1px 0px; text-align:center;}

.announce {text-align: center;}